<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyAuthorizationDescription</key>
		<string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
		<key>CustomKey</key>
		<string></string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your precise location is used to calculate turn-by-turn directions, show your location on the map, and help improve the map.</string>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoicGVuZGVrYXIiLCJhIjoiY2w2NHAyaDh3MDA2YTNjcG4ybmNybndrbiJ9.7i4K5ejdllGMswN25Qy53w</string>
</dict>
</plist>
