<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474666845677-9f825d4gh2lvlk2segm1vcg3ie19gul0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474666845677-9f825d4gh2lvlk2segm1vcg3ie19gul0</string>
	<key>API_KEY</key>
	<string>AIzaSyC_OloCXHv3Rdiko9l900IQ3DsKdGb-mmU</string>
	<key>GCM_SENDER_ID</key>
	<string>474666845677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jasamarga.jid</string>
	<key>PROJECT_ID</key>
	<string>ios-jid</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-jid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474666845677:ios:4a6a365962bc525bd753e4</string>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
</dict>
</plist>