<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547605683664-epn6q8ml7p5depvq197fe87ur7doa5ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547605683664-epn6q8ml7p5depvq197fe87ur7doa5ju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>547605683664-usj82k28f64j3bla3kv0s729orpo20nj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLrAQa9IjOauTAqnC-yflklCtijOC2Sms</string>
	<key>GCM_SENDER_ID</key>
	<string>547605683664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jasamarga.jid</string>
	<key>PROJECT_ID</key>
	<string>jid-app-352606</string>
	<key>STORAGE_BUCKET</key>
	<string>jid-app-352606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547605683664:ios:0b87405de011e41893add5</string>
</dict>
</plist>